name: "Package Release"

on:
  workflow_dispatch:
  push:
    tags:
      - 'v*'

jobs:
  build-and-package:
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [ubuntu-latest, windows-latest]
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Setup CMake
        uses: lukka/get-cmake@v4

      - name: Configure & Build
        run: |
          mkdir build && cd build
          if [ "${{ matrix.os }}" = "windows-latest" ]; then
            cmake -G "Ninja" -DENABLE_PACKAGING=ON -DCMAKE_BUILD_TYPE=Release ..
          else
            cmake -G "Ninja" -DENABLE_PACKAGING=ON -DCMAKE_BUILD_TYPE=Release ..
          fi
          cmake --build . --config Release -- -j

      - name: Create package
        working-directory: build
        run: cpack -C Release

      - name: Upload artifact
        if: always()
        uses: actions/upload-artifact@v4
        with:
          name: package
          path: dist/*.zip


